* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* the heading at the top of the page */
.nav-bar {
  background-color: #89cff0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(6, 39, 69);
}
/* the h1 for title: Crochet Hub */
.nav-bar h1 {
  margin-left: 5%;
}
/* the Link component for create post */
.create-link,
.home-link,
.profile-link,
.signout-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.create-link:hover,
.home-link:hover,
.profile-link:hover,
.signout-link:hover {
  color: #0d61b6;
}
/* the Links for naviagtion */
.nav-tabs {
  display: flex;
  gap: 30px;
  margin-right: 5%;
}
/* ------------------------------------------------------------------ */

/* HomePage */
/* the home page where shows a list of posts */
.posts-content {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.posts-content:hover {
  cursor: pointer;
}

/* the card for each post */
.post-container {
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.sort-ways {
  display: flex;
  align-items: center;
}
.not-selected {
  background-color: #89cff0;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
}
.not-selected:hover {
  cursor: pointer;
  background-color: #94bbe1;
}
.selected {
  background-color: #94bbe1;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
}
.no-post {
  margin-top: 20px;
}
/* ------------------------------------------------------------------ */

/* ViewPost Page */
.view-container {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5%;
}

/* the container of the specific post */
.view-post {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 8px lightblue;
}
.post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-image {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 5px;
}
.description {
  font-size: 1.3rem;
  margin-top: 5px;
}
.post-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.post-buttons button {
  border: none;
  background-color: white;
  font-size: 1.3rem;
}
.upvote-button {
  display: flex;
  align-items: center;
  color: black;
  gap: 5px;
}
.thumb-up:hover {
  cursor: pointer;
  color: magenta;
}
.delete-btn {
  text-decoration: none;
  color: red;
  font-size: 1.3rem;
  transition: transform 0.2s ease, color 0.2s ease;
}
.delete-btn:hover {
  cursor: pointer;
  color: rgb(239, 91, 91);
  transform: translateY(-5px);
}
.edit-link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.3rem;
  color: blue;
  transition: transform 0.2s ease, color 0.2s ease;
}
.edit-link:hover {
  color: rgb(82, 82, 217);
  transform: translateY(-5px);
}
/* the back Link component that goes back to the homepage */
.back-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
}
.each-comment {
  padding: 8px;
  margin-bottom: 5px;
  background: rgb(247, 243, 243);
}
.comment-content {
  display: flex;
  justify-content: space-between;
}
.comment-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-item button {
  border: none;
  background-color: white;
}
.comment-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: medium;
}
.comment-btn:hover {
  color: lightblue;
}
.comment-item button:hover {
  cursor: pointer;
}
/* ------------------------------------------------------------------ */

/* CreatePost and EditPost page */
.create-title,
.edit-title {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

.form-container {
  width: 70%;
  margin: auto;
  /* border: 1px solid rgb(255, 253, 253); */
  margin-top: 30px;
  margin-bottom: 5%;
  border-radius: 10px;
  /* background: rgb(255, 253, 253); */
}
.form-item {
  margin: 15px;
  gap: 10px;
}
label {
  font-size: 1.2rem;
}
input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 2px;
  font-size: 1rem;
  padding-left: 10px;
}
textarea {
  width: 100%;
  padding: 2px;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
}
input[type="submit"] {
  background-color: #89cff0;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #94bbe1;
}
.submit-item {
  display: flex;
  justify-content: center;
}

/* Edit page */
.current-image {
  margin: 10px;
}

/* ----------------------------------------------------------------------------- */
/* SignIn and SignUp page */
.sign-form {
  width: 70%;
  margin: auto;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-title {
  margin: 40px;
}
.sign-item {
  width: 100%;
}
.sign-p {
  margin-top: 20px;
}
